//-------------------------------------------
// _layout.scss
//-------------------------------------------

// Layout Settings
$layoutMinWidth: 320px;
$layoutNarrowWidth: 900px;
$layoutInnerWidth: 1200px;
$layoutOuterWidth: 1400px;
$layoutMaxWidth: 100%;
$layoutMargin: 30px;
$layoutPadding: 30px;
$layoutMobileHeaderHeight: 70px;
