
.platform
{
    .site-header
    {
        background: $platformPink;

        @media all and (max-width: 540px)
        {
            height: 100px;

            &__container
            {
                padding: 0 10px;
            }
        }

        @media all and (max-width:400px)
        {
            height: 80px;

            .site-logo
            {
                height: 85px;

                img.site-logo__img
                {
                    height: 65px;
                }
            }
        }

        &:after
        {
            background-image: url('assets/images/edge__btm--pink.svg');
        }

        &__inner
        {
            justify-content: flex-start;
        }

        &__wrap
        {
            flex-grow: 1;
            margin-left: calc(20px + 4vw);
            justify-content: space-between;
        }
    }

    .hamburger-button
    {
        display: none;

        @media all and (max-width: 959px)
        {
            display: inline;
            height: 40px;

            &__container
            {
                background: transparent;

                span
                {
                    background: #fff;
                    border-radius: 2px;
                    height: 3px;
                }

                &.active
                {
                    span
                    {
                        background: #fff;
                    }
                }
            }
        }

    }

    .nav__link
    {
        color: #fff;

        &:hover, &:focus
        {
            color: $yellow;
        }
    }

    .nav__item
    {
        position: static;
    }

    .nav-btns__item + .nav-btns__item
    {
        margin-left: 20px;
    }

    .nav-btns__btn
    {
        background: none;
        width: 30px;
        height: 30px;

        svg
        {
            fill: #fff;
            width:100%;
            max-height: 100%;
        }

        &:hover, &:focus
        {
            background: none;
            svg
            {
                fill: $yellow;
            }
        }
    }

    .nav-btns__logout
    {
        svg
        {
            transform: rotate(180deg);
        }
    }

    @media all and (max-width: 959px)
    {
        .nav-btns
        {
            margin-left: auto;
            z-index: 5;
        }
    }

    .site-logo
    {
        position: relative;
        top: 30px;

        @media all and (max-width:959px)
        {
            top: 10px;
            height: 120px;
            z-index: 5;

            img.site-logo__img
            {
                height: 120px;
            }
        }
    }

    .dropdown-toggle
    {
        background: transparent;
        position: relative;
        padding-right: 20px;

        &::after
        {
            content: "^";
            font-family: "Londrina Solid", cursive;
            font-size: 33px;
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%) rotate(90deg);
            transition: 0.25s ease-out;
            transform-origin: 50%;
            height: 16px;
        }

        &.open
        {
            color: $yellow;

            &::after
            {
                transform: translateY(-50%) rotate(180deg);
            }
        }
    }


    .dropdown
    {
        position: absolute;
        top: calc(100% + 6px);
        left: 0;
        right: 0;
        background: $purple;
        transition: 0.35s ease-out;
        height: 0px;
        overflow: hidden;
        
        &.open
        {
            height: 84px;
        }

        ul
        {
            display: flex;
            margin: auto;
            max-width: 550px;
            list-style: none;
            justify-content: space-between;
            margin-top: 18px;
        }

        .nav__link
        {
            color: #fff;
            &:hover, &:focus
            {
                color: $yellow;
            }
        }
    }

    @media all and (max-width:959px)
    {
        .dropdown__parent
        {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            position: relative;
        }
        .dropdown
        {
            width:100%;
            position: static;
        }
    }

    @media all and (max-width: 540px)
    {
        .dropdown
        {
            &.open
            {
                height: 200px;
            }
            ul
            {
                flex-wrap: wrap;
    
                li
                {
                    min-width: 240px;
                    width: 100%;
                }
            }
        }
    }

    header .nav.open
    {
        opacity: 1;
    }

    main
    {
        padding-top: calc(2vh + 4rem);

        section + section
        {
            margin-top: calc(2vh + 4rem);
        }
    }

    footer
    {
        .back-to p a
        {
            font-size: 2.2rem;
        }
    }

    .cms
    {
        h4
        {
            font-family: 'Lato';
            text-transform: none;
            font-size: 2rem;
            font-weight: 600;
        }
        h2
        {
            margin-bottom: 1em;
        }
    }
    
}

.section__activites-links
{
    li
    {
        text-align: center;
    }

    a
    {
        width:80%;
        display: flex;
        height: 100%;
        justify-content: center;
        align-items: center;
        margin: auto;
    }

    ul
    {
        @media all and (max-width: 700px)
        {
            flex-wrap: wrap;

            li{
                width: 50%;
                min-width: 240px;
                a
                {
                    font-size: 18px;
                }
            }
        }
    }
}

.section__additional-links
{
    li
    {
        text-align: center;
    }

    @media all and (max-width: 540px)
    {
        ul
        {
            flex-wrap: wrap;

            li
            {
                width:50%;
                min-width: 240px;
                margin: 2%;
            }
        }
    }
}

.unit-info 
{
    align-items: center;

    > div:nth-child(1)
    {
        padding: 0 5%;

        img
        {
            max-width: 100%;
        }
    }

    p
    {
        max-width: 50ch;
    }
}

.unit-lesson-links 
{
    flex-wrap: wrap;
}

.page-template-page-warm-ups
{
    .cms
    {
        .has-media-on-the-right
        {
            grid-template-columns: auto 35%;
        }
        img
        {
            max-height: 320px;
            display: block;
            width: auto;
            margin-left: auto;
        }
    }
}

.page-template-page-routines
{
    .cms h1 + p
    {
        max-width: 65ch;
        margin: auto;
        text-align: center;
    }
}