// Settings
$fontPrimary: 'Londrina Solid', cursive !default;
$fontBody: 'lato', sans-serif !default;

$fontSizeBody: 1.6rem;
$fontSizeVerySmall: 1.2rem;
$fontSizeSmall: 1.3rem;
$fontSizeMedium: 2rem;
$fontSizeLarge: 2.8rem;
$fontSizeVeryLarge: 3.4rem;

$lineHeightSmall: 1.8rem;
$lineHeightMedium: 2.6rem;
$lineHeightLarge: 3.6rem;


$headingsLetterSpacing: 0;
$headingsColour: inherit;

$bodyTextColour: $colourDark;
$bodyTextPrimary: $colourPrimary;
$bodyTextSecondary: $colourSecondary;


.text
{
    &__center
    {
        text-align: center;
    }

    &__title
    {
        font-family: $fontPrimary;
        font-size: 28px;
        text-transform: uppercase;
        letter-spacing: 1px;
    }
    &__sub-title
    {
        font-family: $fontPrimary;
        font-size: 16px;
        text-transform: uppercase;
        letter-spacing: 1px;
    }
    &__med-title
    {
        font-family: $fontPrimary;
        font-size: 20px;
        text-transform: uppercase;
        letter-spacing: 1px;
    }
    &__big-title
    {
        font-family: $fontPrimary;
        font-size: 24px;
        text-transform: uppercase;
        letter-spacing: 0.5px;
    }
    &__larger
    {
        font-size: 18px;
    }
}