// Settings
$fontPrimary: 'Londrina Solid', cursive !default;
$fontBody: 'lato', sans-serif !default;

$fontSizeBody: 1.6rem;
$fontSizeVerySmall: 1.2rem;
$fontSizeSmall: 1.3rem;
$fontSizeMedium: 2rem;
$fontSizeLarge: 2.8rem;
$fontSizeVeryLarge: 3.4rem;

$lineHeightSmall: 1.8rem;
$lineHeightMedium: 2.6rem;
$lineHeightLarge: 3.6rem;


$headingsLetterSpacing: 0;
$headingsColour: inherit;

$bodyTextColour: $colourDark;
$bodyTextPrimary: $colourPrimary;
$bodyTextSecondary: $colourSecondary;
