// UI Settings
$uiFormBorderRadius: 12px;
$uiFormBorderWidth: 1px;
$uiTableBorderRadius: 4px;
$uiTableBorderWidth: 1px;

$placeholderColour: $colourMid;
$uiFormBackgroundColour: $colourLight;
$uiFormInputBorderColour: $colourLight;
