@import 'fonts';

// vars

$frame-size: 1.5cm;

$font-bodysize: 12pt;

// colours
$red: #fb6b47;
$orange: #f18500;
$blue: #14dddd;
$purple: #e6007d;
$green: #a6ce39;
$yellow: #fbea10;
$greyDark: #434a54;
$greyLight: #ebebeb;
$greyMid: #a6a6a6;
$platformPink: #ec008b;
$realPurple: #64499d;
$leafgreen: #53b847;

$font-title: normal normal 700 28px/1.2 Londrina;

*
{
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	line-height: normal;
	line-height: 1.3;
	box-sizing: border-box;
}

html,
body
{
	font-size: $font-bodysize;
	color: $greyDark;
}

body
{
	font-family: 'AvantGard';
    font-weight: 300;
	margin-top: 1.2cm;
	margin-bottom: 1.5cm;
	margin-left: 1cm;
	margin-right: 1cm;

}


@page
{
	width: 100%;
	height: 100%;
	min-height: 100%;
	max-height: 100%;
}


//   ----------------
//  Typography
//   ---------------
.text
{
    &__title
    {
        font: $font-title;
    }
    &__subtitle
    {
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 600;
    }
    &__blue
    {
        color: $blue
    }
    &__pink
    {
        color: $platformPink;
    }
}

h2
{
    margin-bottom: 0.5cm;
}

h3
{
    margin-bottom: 0.25cm;
}

//   ----------------
//  Layout and styles
//   ---------------
.bg
{
    &__yellow
    {
        background: $yellow;
    }
}

table
{
    border-collapse: collapse;
    margin-bottom: 0.5cm;

    th, td
    {
        padding: 10px;
    }
}



//   ----------------
//  Specifics
//   ---------------

.frame
{
	position: fixed;
	background: #ffffff;

	&--bottom
	{
		bottom:0;
		left:0;
		width:100%;
		height:$frame-size;
	}

	&--left
	{
		top:0;
		left:0;
		width:$frame-size;
		height:21cm;
	}

}

#pdf-footer-logo
{
	position:fixed;
	width:100px;
	height:120px;
	text-align:right;
	overflow:hidden;

	img
	{
		display:block;
		width:100%;
		height:auto;
	}
}


.title-block
{
    text-align: center;

    h1
    {
        display: inline-block;
        margin: auto;
        background-image: url('../images/swoosh-yellow.svg');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: 130%;
        padding: 10px 270px 10px 100px;
    }
}

.objectives
{
    ul
    {
        list-style: none;
        margin: 0;
        padding-left: 0;
    }

    th
    {
        border-right: 1px solid $platformPink;
    }
}

#pdf-objective,
#pdf-area
{

	p
	{
		font-size:11pt;
		display: inline-block;

		strong
		{
			font-weight:700;
			font-size: 12pt;
		}

		span {
			margin-top: 1.15pt;
			display: inline-block;
			max-width: 90%;
		}
	}

}



#pdf-content
{
	float:left;
	width:50%;
}


#pdf-image
{
	float:right;
	text-align:right;

	img
	{
		display:inline-block;
		width:100%;
		height:auto;
	}
}


.content
{
	font-size:$font-bodysize;

	span.content__title
	{
		display:block;
		font-size:10pt;
		text-transform:capitalize;
		font-weight:bold;
		margin-bottom:0.5em;
	}

	p
	{
		display:block;
		line-height:1.2em;
		margin-bottom:1em;
	}


	ol,
	ul
	{
		margin-bottom:1em;
		margin-left:1.5em;

		&:last-child
		{
			margin-bottom:0;
		}

		li
		{
			line-height:1.2em;
			margin-bottom:0.5em;
			font-size:$font-bodysize;
		}
	}

}



#equipment-instructions
{
	margin-bottom:1em;
}


#pdf-challenge
{
	margin-top: 20px;
}


// hard page breaks (if required in specific places)

hr
{
	page-break-after:always;
	border:0;
}


.cl
{
	clear:both;
	width:100%;
}
