.single-lessons, .single-games
{
    .lesson-main-content
    {
        flex-basis: 75%;
        padding-right: 4.5%;

        p
        {
            max-width: 66ch;
        }

        > .text--sub-title
        {
            margin-bottom: 8px;
        }
    }

    h1
    {
        font-size: 5rem;
    }

    h2
    {
        margin-top: 4rem;
    }

    .unit-logo
    {
        max-width: 200px;
    }

    dt
    {
        margin-top: 2rem;
    }
    dd + dd
    {
        margin-top: 1rem;
    }
    
    .popout
    {
        padding: 2rem;
        border-radius: 8px;
        margin: 4rem 0;
        color: #fff;
    
        h3
        {
            margin-bottom: 12px;
        }
    
        p
        {
            max-width: 80ch;
            font-weight: bold;
        }
    }
}

.new-moves
{
    ul, ul button
    {   
        font-weight: bold;
        color: $purple;
        font-size: 17px;
        margin-bottom: 0px;
        cursor: pointer;
    }

    > div
    {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .trigger-video-full
        {
            width:37.5%;
            margin: auto 2rem;

            img
            {
                max-width: 100%;
                pointer-events: none;
            }
        }
    }
}


.breadcrumbs
{
    margin-bottom: 4rem;
    margin-top: -2rem;

    a:not(:first-child)
    {
        margin-left: 10px;
    }
    a:not(:last-child)
    {
        margin-right: 10px;
    }
    span
    {
        margin-left: 10px;
    }
}

.resource-link
{
    span
    {
        display: inline-block;
        vertical-align: middle;
    }

    span.icon
    {
        margin-right: 10px;
        max-width: 30px;

        svg
        {
            width: 100%;
            height: auto;
            fill: #000;
        }
    }

    &:hover,
    &:focus
    {
        span.icon svg 
        {
            fill: $orange;
        }
    }
}

.image-container
{
    background-size: cover;
    background-position: center;
}

.shape
{
    border-radius: 19% 76% 48% 53% / 19% 24% 83% 81%;
    min-height: 300px;
    width:320px;
}

.warmup-content
{
    > div:nth-child(1)
    {
        padding-right: 2.5%;
    }
}

.glossary-terms
{
    dt
    {
        font-weight: 500;
        font-family: $fontPrimary;
        font-size: 20px;
        letter-spacing: 0.7px;
        margin: 2rem 0 0.25rem 0;
    }

    @media all and (min-width:700px)
    {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        dd
        {
            flex-basis: 68%;
            margin: 1rem 0;
        }
        dt
        {
            flex-basis: 30%;
            margin: 1rem 0;
        }
    }   
}

@media all and (max-width: 700px)
{
    .lesson-content
    {
        flex-wrap: wrap;

        .lesson-main-content,
        .lesson-supplementary
        {
            width:100%;
            flex-basis: 100%;
        }

        .lesson-supplementary
        {
            .text__sub-title
            {
                display: none;
            }
        }
    }

}