.header--search-form
{
    background: $greyLight;
    padding: 36px 10px 28px;

    @media all and (max-width: 540px)
    {
        padding: 16px 10px 14px;
    }

    form
    {
        width:80%;
        margin: auto;
        max-width: 800px;
        display: flex;
        align-items: flex-end;
    }

    input
    {
        border-radius: 0px;
    }

    input[type="text"]
    {
        border-bottom: 2px solid $greyDark;
        padding: 0px 5px 4px 5px;
        margin-bottom: 0px;
    }

    input.button
    {
        font-family: $fontPrimary;
        text-transform: uppercase;
        font-size: 16px;
        margin: 0 16px;
    }


}