.share-wrap {
}
.share-wrap__btns {
	display: inline-block;
	vertical-align: middle;
}
.share-wrap__title {
	display: inline-block;
	vertical-align: middle;
	margin-bottom: 0;
}
.share-wrap__btn-link {
	margin-left: 10px;
}
