.site-logo {
	flex: 0 0 auto;
    z-index: 3;
    height: 95px;
    width: 115px;

    @include breakpoint(small) {
        height: 120px;
        width: 145px;
    }
    @include breakpoint(medium) {
        position: absolute;
        top: 10px;
        height: 178px;
        width: 215px;
    }

}

img.site-logo__img {
    display: block;
    height: 95px;
    width: 115px;

    @include breakpoint(small) {
        height: 120px;
        width: 145px;
    }
    @include breakpoint(medium) {
        height: 178px;
        width: 215px;
    }
}



img.footer-logo__img {
    margin: auto;
    margin-top: -100px;
}
