#menu-social-menu {
	list-style: none;
	padding: 0;
	margin: 0;
}

#menu-social-menu a {
    font-size: $fontSizeLarge;
    display: inline-block;
    text-align: center;
    color: $colourDark;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    background-color: white;
}

.screen-reader-text  {
	position: absolute;
	top: -9999px;
	left: -9999px;
}
#menu-social-menu li {
	position: relative;
	display: inline-block;
}

#menu-social-menu li + li {
	margin-left: 15px;
}

#menu-social-menu li a::before {
	content: '\f408';
	font-family:'FontAwesome';
	display: inline-block;
	padding:  0 5px;
    line-height: 4.6rem;
	font-weight: 400
}
#menu-social-menu a {
  	transition: color .2s;
  	&:hover, &:focus, &:active, &.active {
		color: white;
		background-color: $colourPrimary;
	}

}

#menu-social-menu li {
    a[href*="facebook.com"]:before {
        content: '\f09a';
    }

    a[href*="twitter.com"]:before {
        content: '\f099';
    }

    a[href*="plus.google.com"]:before {
        content: '\f0d5';
    }

    a[href*="linkedin.com"]:before {
        content: '\f0e1';
    }

    a[href*="instagram.com"]:before {
        content: '\f16d';
    }
}
