.classes
{
    max-width: 750px;
    margin-left: 0;
    margin-bottom: 2rem;
    width: 95%;
    padding-bottom: 2rem;

    .lessons-container
    {
        background: #ebebeb;
        padding: 10px;
        max-height: 0px;
        padding: 0 10px; 
        overflow: hidden;
        transition: 0.35s ease-out;

        &.open
        {
            margin-bottom: 10px;
        }
    }

    .lesson
    {
        display: flex;
        padding: 1rem;
        border-radius: 4px;
        background: #d6d6d6;
        margin-bottom: 0.5rem;

        display: grid;
        grid-template-columns: 4fr 2fr 3fr;

        span
        {
            display: block;
        }

    }

    .submit-minutes
    {
        background: #fff;
        padding: 0.5em;
        border-radius: 4px;
        cursor: pointer;
        transition: 0.3s cubic-bezier(.5, 0, .5, 1);

        &:hover,
        &:focus {
            color: #fff;
            background: $greyDark;
        }
    }

    .icon
    {
        width: 24px;
        height: 24px;
        background-repeat: no-repeat;
        background-position: center;
        margin: auto;

        &.complete
        {
            background-image: url(assets/images/icons/circle-tick.svg);
        }
        &.incomplete
        {
            background-image: url(assets/images/icons/circle-cross.svg);
        }
    }

    .toggle-icon
    {
        width: 20px;
        height: 20px;
        background: url(assets/images/icons/toggle-icon.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        transition: 0.3s cubic-bezier(.5, 0, .5, 1);
        transform: rotate(180deg);
        vertical-align: text-top;
        float: right;
    }
    .value
    {
        text-align: center;
        width: 175px;
        font-family: $fontPrimary;
        color: #0BA14B;
        font-size: 1.825rem;
        width: auto;
    }

    .expand-class
    {
        padding: 1rem;
        font-weight: bold;
        background: $greyLight;
        transition: 0.3s cubic-bezier(.5, 0, .5, 1);
        width: 100%;
        margin-bottom: 0.75rem;
        text-align: left;
        cursor: pointer;

        &.open
        {
            background: $platformPink;
            color: #fff;

            .toggle-icon{
                transform: rotate(270deg);
                filter: brightness(10);
            }
        }
    }
}

.add-class-form
{
    justify-content: space-between;
    
    .input-container
    {
        position: relative;
        padding-top: 40px;
        margin: 0 0 1rem 0;
        display: flex;
        justify-content: flex-start;
        min-width: 290px;
        width: 46%;
    
        label
        {
            top: 0px;
            font-size: 18px;
            position: absolute;
            left: 0;
        }
    
        #class_unit
        {
            min-width: 290px;
        }
    
    }
    .buttonContainer
    {
        width: 100%;
    }

}
.submitting
{
    button
    {
        transition: 0.35s cubic-bezier(.5, 0, .5, 1), font-size 0.01s;
        animation: rotating 2s 0.25s linear infinite;
        font-size: 0px;
        min-width: 42px;
        width: 42px;
        height: 42px;
        border: 5px solid transparent;
        color: #fff;
        background: $blue;
        border-radius: 50px;
        border-left-color: #fff;
        padding: 0;
        pointer-events: none;

        &:hover,
        &:focus
        {
            border: 5px solid transparent;
            border-left-color: #fff;
        }
    }
}

form p.error
{
    color: #fff;
    font-size: 15px;
    margin-top: 16px;
    padding: 0.5rem;
    border: 1px solid #fff;
    border-radius: 4px;
    line-height: 1.2;
    display: none;
}


.lesson-minutes
{
    padding: 1rem;

    .input-container
    {
        position: relative;
        padding-top: 10px;
        margin: 0 0 1rem 0;
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
        align-items: center;
    
        label
        {
            font-size: 18px;
            color: $greyLight;
            display: block;
        }
        input
        {
            background: #fff;
            width: 100px;
            margin: 0 0 0 1rem;
            padding: 0.75em;
        }
    }
}

.add-new-class-container
{
    padding: 2rem 30px;
    background: #424a53;
    max-width: 1140px;
    border-radius: 8px;
    color: #fff;
    margin: 20px auto;
    width: calc(100% - 40px);

    input,
    select {
        background: #fff;
        border: 1px solid #fff;

        &:hover, &:focus {
            border-color: $orange;
        }
    }

    label{
        color: #fff;
    }
}

.inactive_stat
{
    text-align: center;
    font-size: 30px;
    color: $platformPink;
    font-family: $fontPrimary;
    padding: 3.5rem;
    text-transform: uppercase;
    line-height: 1.3;
    max-width: 50ch;
    height: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

    span
    {
        font-size: 40px;
    }
}

.leaderboard-container
{
    background: $orange;
    padding: 0rem 3rem 1.5rem 3rem;
    border-radius: 8px;
    position: relative;
    overflow: hidden;

    &::before{
        content: "";
        width: calc(100% + 6rem);
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        height: 46px;
        background: rgba(0,0,0,0.2);
        z-index: 0;
    }

    table
    {
        margin-bottom: 1rem;
        position: relative;
    }

    table, tbody, tbody tr, th {
        background: transparent;
    }

    td
    {
        color: #fff;
        font-family: $fontBody;
        border-bottom: none;

        &:nth-last-child(1)
        {
            font-weight: bold;
        }
    }
}
/**************************\
  Basic Modal Styles
\**************************/

.lesson-minutes-container
{
    width:100vw;
    height:100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 6;
    background: none;
    display: none;

    h3{
        color: #fff;
    }

    form
    {
        animation-duration: 0.3s;
        animation-fill-mode: forwards;
        margin-bottom: 0px;
    }

    &::after
    {
        content: "";
        position: absolute;
        top: 0;
        z-index: -1;
        width: 100%;
        height:100%;
        overflow: auto;
        text-align: center;
        -webkit-overflow-scrolling: touch;
        backface-visibility: hidden;
        background: rgba(39,49,66,0.5);
        transition: 0.3s;
    }

    &.opening
    {
        display: block;

        &::after,
        .form-container-container
        {
            opacity: 0;
            animation: opacity-fill 0.4s forwards;
        }

    }

    &.closing
    {
        display: block;

        &::after,
        .form-container-container
        {
            opacity: 1;
            animation: opacity-fade 0.3s forwards;
            display: block;
        }

    }

    &.is-open
    {
        display: block;
        &::after
        {
            opacity: 1;
            display: block;
        }
    }
    .form-container-container
    {
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: #424a53;
        width: 60%;
        min-width: 260px;
        max-width: 800px;
        max-height: 95vh;
        border-radius: 4px;
        box-sizing: border-box;
        max-width: 500px;
        padding: 30px;
        overflow: scroll;

        form
        {
            padding-top: 0px;
        }
    }
    .close-modal
    {
        position: absolute;
        z-index: 7;
        top: 0px;
        right: 0px;
        font-size: 30px;
        widtH: 50px;
        height: 50px;
        color: #fff;
        padding: 10px;
        font-family: $fontPrimary;
        box-shadow: 0 2px 4px 0px rgba(0,0,0,0.4);
        border-radius: 0px 0 0px 3px;
        background: swatch('main', 'motty');
    }
}



@keyframes modal-opening {
	from {
		transform: scale(.85);
		opacity: 0;
	}
	to {
		transform: scale(1);
		opacity: 1;
	}
}


@keyframes modal-closing {
	from {
		transform: scale(1);
		opacity: 1;
	}
	to {
		transform:  scale(1.05);
		opacity: 0;
	}
}


@keyframes opacity-fill
{
    from {opacity: 0}
    to {opacity:1}
}
@keyframes opacity-fade
{
    from {opacity: 1}
    to {opacity: 0}
}

.modal__overlay
{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0,0,0,0.6);
	display: flex;
	justify-content: center;
    align-items: center;

	z-index: 5;
}

.modal__container
{
	background-color: #fff;
	padding: 30px;
    //max-width: 500px;
    width: 60%;
    min-width: 260px;
	max-width: 800px;
	max-height: 90vh;
	border-radius: 4px;
	overflow-y: auto;
    box-sizing: border-box;
    z-index: 6;

	//cursor:default;
}
