@keyframes spinAround {
	from {
		transform: rotate(0deg)
	}
	to {
		transform: rotate(360deg);
	}
}

/* Animation */

@keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

@-webkit-keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

@-webkit-keyframes pulse {
    0% {  }
    25% { -webkit-transform: scale(1.1); transform: scale(1.1); }
    50% { -webkit-transform: scale(1); transform: scale(1); }
    75% { -webkit-transform: scale(1.05); transform: scale(1.05); }
    100% { -webkit-transform: scale(1); transform: scale(1); }
}

@keyframes pulse {
    0% {  }
    25% { -ms-transform: scale(1.1); transform: scale(1.1); }
    50% { -ms-transform: scale(1); transform: scale(1); }
    75% { -ms-transform: scale(1.05); transform: scale(1.05); }
    100% { -ms-transform: scale(1); transform: scale(1); }
}

.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: both
}

.animatedFadeInUp {
    opacity: 0
}

.fadeInUp {
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
}
